*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
.env
.git
.gitignore
.dockerignore
.vscode
.idea
*.log
*.pot
*.sqlite3
db.sqlite3
media/
staticfiles/
.coverage
htmlcov/
dist/
build/
*.egg-info
.pytest_cache
.mypy_cache
.DS_Store
